$element-margin: 0.618em;
$default-fonts: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$default-font-color: #ddd;
$default-font-size: 11pt;
$background-color: #f5f5ff;
@import 'resets';
@import 'helpers';

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);


//--------------------- Layout and Typography ----------------------------
html { height: 100%; }
body {
  background-color: $background-color;
  margin: 0; padding: 0;
  height:100%;
}
a, a:visited {
  color: #261a3b;
}

p {
  margin: 15px 0 10px 0;
}

pre, tt, code {
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

header nav {
  @include box-shadow(0 -5px 5px rgba(0,0,0,0.2) inset);
  background: #333;
  li {
    display: inline-block;      
    a, a:visited {
      @include transition(all, 0.3s);
      display: inline-block;
      color: #d5d5d5;
      font-family: Lato, sans-serif;
      font-weight: 300;
      text-decoration: none;
      padding: 1em 0.5em;
      text-shadow: 1px 1px #000;
    }
    a:hover {
      @include transition(all, 0.3s);
      color: #fff;
    }
  }
}

div.docs, body.markdown > article {

  padding: 1px 1em;

  background: #ffffff;

  h1, h2, h3 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    margin: 1em 0 0.5em 0;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 20pt;
  }

  hr {
    border: 0 none;
    border-top: 1px solid #e5e5ee;
    height: 1px;
    margin: 20px 0;
  }

  pre {
    padding-left: 2em;
  }

  pre > code {
    background: none;
    border: none;
  }

  code {
    border: 1px solid #dedede;
    background: $background-color;
    padding: 0 0.5em;
  }

  blockquote {
    padding-left: 2em;
    padding-right: 1em;
    font-style: italic;
  }
}

div.code {
  border-top: 1px solid #e5e5ee;
  border-bottom: 1px solid #e5e5ee;
  padding: 1em;

  a {
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
  }
}
#documentation > section:first-child {
  div.code { 
    display: none;
  }
}

/* --------------------- Table Layout -------------------------*/
@media only screen and (min-width: 950px) {

  #documentation {
    display: table;
    
    > section {
      display: table-row;

      > div.code, > div.docs {
        display: table-cell;
        vertical-align: top;
      }
    }
  }

  div.docs, body.markdown > article {
    width: 40%;
    max-width: 900px;
    min-width: 400px;
    padding: 1px 1em;
    border-right: 1px solid #e5e5ee;
  }

  div.code {
    padding: 0 1em;
    border: none;
  }

  article > section:not(:first-child) > div.docs:hover + div.code {
    @include transition(all, 0.3s);
    @include box-shadow(5px 0 0 0 rgba(0,0,0,0.05) inset);
    background: darken($background-color, 1%);
  }
}

// ---------------------------- Scala XRay -------------------------------------
body > pre {
  font-family: Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 16px;
}

/* syntax highlighting */
.keyword { font-weight: bold; }
.string { color: #dd2200; background-color: #fff0f0; }
.char { color: #d14; }
.double, .float { color: #0000DD; font-weight: bold }
.long, .int { color: #099; }
.comment { color: #888888; font-style: italic }

/* to highlight a reference or definition */
:target, .highlighted {
  background: #FFaaaa;
}

.qtip-content {
  background: rgb(48, 48, 48) !important;
  padding: 0px 6px;
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
}

// --------------------------------- Literate ----------------------------------
body.literate {
  background: #323438;
}

.literate article#documentation {
  width: 90%;
  margin: 1% 5%;
  background: $background-color;
  box-shadow: 5px 4px 9px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #7A7A7A;
  border-radius: 3px;
}

.literate div.docs {
  background: #fff;
}